.contact {
  padding: 27rem 0;
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];
  align-items: center;
  padding: 27rem 0;

  .content {
    grid-column: col-start 2 / col-end 7;

    @include respond(bp-large) {
      grid-column: col-start 1/col-end 8;
    }

    h2{
      text-align: center;
      color: $midnightblue;
    }

    p {
      text-align: center;
      color: $alternateblue;
      font-weight: bold;
    }

    .contact-form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 5rem;
      justify-items: stretch;
      column-gap: 2rem;
      row-gap: 3rem;

      .form__group {

        @include respond(bp-small) {
          grid-column: 1/-1;
        }
      }

      .textarea {
        grid-column: 1 / -1;
      }

      .input {
        width: 100%;
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(162, 201, 242, 0.4);
        transition: all .3s;
        display: block;
        box-shadow: 0 1rem 2rem rgba(202, 223, 235, 0);
  
        &:focus {
          outline: none;
          box-shadow: 0 0.6rem 1rem rgba(202, 223, 235, 0.3);
          border: 1px solid rgba(163, 202, 242, 0.23);
        }
  
        &::-webkit-input-placeholder {
          color: $babyblue;
          font-weight: 800;
        }

        &::-moz-input-placeholder {
          color: $babyblue;
          font-weight: 800;
        }
    
        // &:focus:invalid {
        //   border-bottom: 3px solid #ccc;
        // }
      }

      .btn--submit-contact {
        grid-column: 2 / -1;
        justify-self: end;
      }

    }



  }

  .footer {
    grid-column: full-start / full-end;
    margin-top: 12rem;
  }
  
}