.dashboard {
  background-color: #e2e3e7;
  display: grid;
  // grid-template-rows: 100vh;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 22rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 20% 75%;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 18rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
  }


  .dashInfo {
    padding: 3rem 0;
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: #eff0f4;
    margin: 16rem auto;
    align-content: stretch;
    height: fit-content;
    box-shadow: 3px 3px 5px 0px rgba(113, 111, 111, 0.14);
    border: 3px solid rgba(249, 250, 253, 0.63);
    width: 100%;
    min-height: 70rem;
    max-height: inherit;
    color: $dashboard-text;
    border-radius: 0.5rem;

    &>* {
      padding: 4rem 0;
    }

    @media only screen and (max-width: $bp-large) {
      justify-content: center;
    }


    .sidebar {
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: space-evenly;
      height: 35%;
      flex-wrap: wrap;

      @media only screen and (max-width: $bp-large) {
        grid-column: 1 / -1;
        flex-direction: row;
        height: 100%;
        align-items: center;
      }

      .newsurvey-btn {
        // width: 70%;
        margin: 0 auto;
        color: inherit;

        @media only screen and (max-width: $bp-large) {
          width: auto;
        }

        img {
          width: 20%;
          margin-right: 10%;

          @media only screen and (max-width: $bp-large) {
            width: 30%;
            margin-right: 7%;
          }
        }

        h3 {
          font-family: $font-primary;
        }

        a {
          display: flex;
          align-items: center;
          color: inherit;
        }
      }

      .infobg {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 65%;
        margin: 0 auto;
        background-color: #dde3ec;
        padding: 0.6rem 2rem;
        border-radius: 12px;
        box-shadow: inset 0px 0px 8px 0px rgba(78, 82, 110, 0.25);
        border: 2px solid rgba(255, 255, 255, 0.79);
        transition: all 300ms linear;

        @media only screen and (max-width: $bp-large) {
          width: auto;
          background-color: rgba(221, 227, 236, 0);
          box-shadow: inset 0px 0px 8px 0px rgba(78, 82, 110, 0);
          border: 0px solid rgba(255, 255, 255, 0.79);

          .heading-4 {
            margin-right: 24%;
          }
        }

        &:hover {
          box-shadow: inset 0px 0px 8px 0px rgba(78, 82, 110, 0);
          border: 2px solid rgba(162, 170, 195, 0.16);
        }

        a {
          color: inherit;
        }

      }
    }

    .mainarea {
      background-color: #f7f7f8;
      display: grid;
      justify-items: center;
      align-items: center;
      text-align: center;
      border-radius: 1rem;
      box-shadow: inset 0px 0px 12px 0px rgba(182, 192, 204, 0.41);
      border: 2px solid rgb(249, 252, 255);
      grid-template-rows: min-content;
      grid-auto-rows: min-content;


      @media only screen and (max-width: $bp-large) {
        grid-column: 1 / -1;
      }

      @media only screen and (max-width: $bp-medium) {
        width: 100%;
      }

      &>* {
        width: 90%;
      }

      .heading-2,
      .heading-3 {
        color: $orange;
      }

      &__heading {

        p {
          text-align: center;
          margin: 0 auto;
        }
      }

      &__instructions {

        p {
          margin: 2rem auto;
        }
      }

      p {
        max-width: 75%;
        text-align: left;

        @media only screen and (max-width: $bp-smallest) {
          max-width: 90%;
        }
      }

      .heading-2 {

        @media only screen and (max-width: $bp-small) {
          font-size: 3.5rem;
        }

      }

      .heading-3 {
        font-size: 2.6rem;
      }


      &__surveys {

        ul {
          grid-template-columns: repeat(4, 1fr);
          align-items: center;
          justify-items: center;
          display: grid;
          color: $midnightblue;

          li {
            list-style: none;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;

            .toggle {
              margin-left: 5%;
              position: relative;
              flex: 0 0 1rem;

              .arrow {
                display: block;
              }
            }
          }
        }

        .btn--ghostWhite {

          @media only screen and (max-width: $bp-small) {
            padding: 0.5rem 2rem;
          }
        }


      }


      .surveycontent {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: max-content min-content;
        min-height: 38rem;
        text-align: left;
        width: 75%;

        @media only screen and (max-width: $bp-small) {
          grid-template-columns: 1fr;
        }

        .infodetails {
          display: grid;
          grid-template-rows: repeat(6, max-content);
          grid-template-columns: minmax(min-content, 1fr);
          grid-row-gap: 2rem;

          @media only screen and (max-width: $bp-small) {
            grid-column: 1 / -1;
            margin-bottom: 2rem;
          }
        }

        .results {
          display: grid;
          grid-template-rows: 40% repeat(2, max-content);
          grid-template-columns: minmax(min-content, 1fr);
          grid-row-gap: 2rem;

          @media only screen and (max-width: $bp-small) {
            grid-column: 1 / -1;
          }

          .yesnodata {
            display: flex;
            justify-content: start;

            @media only screen and (max-width: $bp-small) {
              margin-bottom: 3rem;
            }

            p {
              margin-right: 10%;
            }

            .badge {
              min-width: .5rem;
              padding: 0.5rem 1rem;
              color: #fff;
            }

            .badge-yes {
              background: linear-gradient(to bottom, rgba(81, 188, 255, 1) 0%, rgba(15, 119, 255, 1) 100%);
            }

            .badge-no {
              background: linear-gradient(to bottom, rgba(255, 189, 119, 1) 0%, rgba(255, 129, 45, 1) 100%);
            }
          }
        }
      }

      .btn--return {
        font-size: 2rem;
        text-align: center;
        padding: 0.6rem 3rem;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.27);
        align-self: start;
        justify-self: self-start;
        margin-top: 1.5rem;
      }

      form {
        width: 75%;
        margin: 0 auto;

        @media only screen and (max-width: $bp-medium) {
          width: 90%;
        }
      }

      .surveyfields {
        display: grid;
        grid-auto-rows: max-content;
        width: 100%;
        align-items: center;
        grid-template-rows: max-content;
        grid-template-columns: 1fr;
        justify-items: left;

        .field-group {
          display: flex;
          width: 100%;
          margin-bottom: 5rem;
          position: relative;

          @media only screen and (max-width: $bp-smallest) {
            flex-direction: column;
          }

          label {
            display: block;
            flex: 0 0 30%;
            text-align: left;
            font-weight: bold;
            font-size: 1.9rem;

            @media only screen and (max-width: $bp-smallest) {
              margin-bottom: 2rem;
              font-size: 2.3rem;
            }
          }

          input,
          textarea {
            flex: 1;
            border: 3px solid rgba(255, 255, 255, 0.00);
            box-shadow: inset 1px 1px 6px #d9dff3, inset -5px -5px 20px #fff;
            padding: 1.4rem;
            background-color: #f7f7f8;
            border-radius: 6px;
            color: inherit;
            font-weight: bold;
            transition: all 600ms linear;

            &::-webkit-input-placeholder {
              color: rgb(166, 180, 224);
              font-weight: 200;
            }

            &:focus {
              outline: none;
              border: 3px solid rgba(255, 255, 255, 1);
              background-color: #ffffff;
            }

          }

          textarea {
            resize: none;
          }

          .invalid {
            position: absolute;
            top: 100%;
            left: 32.5%;
            color: #ff9f64;
            text-transform: capitalize !important;
            font-weight: bold;
          }


        }


      }

      .submitButtons {
        display: flex;
        width: 70%;
        margin-left: 30%;

        @media only screen and (max-width: $bp-smallest) {
          width: 100%;
          margin-left: 0;
        }

        .btn,
        .btn:link,
        .btn:visited {
          padding: 1rem 0;
          width: 20%;
          font-size: 1.6rem;
          color: #fff;
          font-weight: bold;
          letter-spacing: 1px;
          border: 1px solid rgba(255, 255, 255, 0.41);
          box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.45);
          text-transform: none;

          @media only screen and (max-width: $bp-medium) {
            width: 25%;
            font-size: 2rem;
          }

          @media only screen and (max-width: $bp-smallest) {
            width: 45%;
            font-size: 2rem;
            padding: 0.7rem 0;
          }
        }

        .btn-next {
          background: linear-gradient(to bottom, rgba(90, 182, 248, 1) 0%, rgba(45, 137, 203, 1) 100%);
        }

        .btn-cancel {
          margin-right: 30%;
          background: linear-gradient(to bottom, rgba(248, 145, 85, 1) 0%, rgba(199, 96, 37, 1) 100%);

          @media only screen and (max-width: $bp-medium) {
            margin-right: 10%;
          }

        }
      }

      .labelgroup {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto 2rem auto;
        text-align: left;

        label {
          color: $orange;
          font-weight: bold;
          margin: 1rem 0;
          text-align: left;
          font-size: 2rem;

        }
      }

      .labelgroup:last-of-type {
        margin-bottom: 4rem;
      }



    }

  }

  .fixed-action-btn {
    position: fixed;
    bottom: 5vh;
    right: 5%;
    z-index: 500;
  }

}