.footer {
  background-image: url(/assets/images/footer-bg-blue.svg);
  background-repeat: no-repeat;
    background-size: cover;
  height: auto;
  display: grid;
  grid-template-rows: 11rem max-content 15rem min-content;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  align-items: center;
  padding-top: 17rem;

  .heading-2 {
    text-align: center;
    grid-column: 2 / 4;
    color: $midnightblue;
    font-size: 4.7rem;
    font-weight: 400;
  }


  .btn--signup-header {
    grid-column: 1 / 5;
    margin: 0 auto;
    align-self: center;
    justify-self: center;
  }

  @media only screen and (max-width: $bp-medium) {

    .btn--signup-header h5 {
      font-size: 2.2rem;
    }
  }

  @media only screen and (max-width: $bp-small) {

    .btn--signup-header h5 {
      font-size: 1.9rem;
    }
  }

  .icons {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-column-gap: 10rem;
    padding: 2rem 0;
    grid-row: 3 / span 2;
    align-self: end;

    &__facebook {
      grid-column-start: 2;
      justify-self: end;
    }

    &__twitter {

    }


    img {
      min-width: 3.5rem;
      max-width: 5rem;
    }
  }

  .copyright {
    grid-column: 2 / 4;
    text-align: center;
    color: $white;
    font-weight: bold;

    p {
      font-size: 1.9rem;
      letter-spacing: 2px;
    }
  }
}