.sitenav {
  // background-image: linear-gradient(137deg, transparent, transparent 40%, rgba(255, 255, 255, 0.4) 87.2%, #fb8944 87.6%, #2e72c2 87.8%), url(/images/landing.jpg);
  background-image: url(/images/landing.jpg);
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 13rem;
  transition: all 600ms ease-in-out;


  &--scrolled{
    padding: 1rem 0;
    background-color: rgba(125, 180, 237, 0.85);
    height: 13rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.46);
    transition: all 600ms ease-in-out;


    &::after {
      content: "";
      display: block;
      width: 0;
      margin: 0 auto;
      padding-top: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.0);
      transition: all 800ms ease-in-out;

    }
  }


}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.brand-logo {

  img{

    @media only screen and (max-width: $bp-medium) {
      width: 75%;
    }
  }
}

.header {
  flex-basis: 50%;

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
      list-style: none;
      flex: 0 0 15%;
    }

    .log {

    }
  }
}

.mobilemenu {
  flex-basis: 50%;

  .mobileicon {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 5%;
    top: 30%;

    &__checkbox {
      display: none;
    }

    //ICON
    &__icon {
      position: relative;
      margin-top: 3.5rem;

      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        // background-color: $color-grey-dark-3;
        display: inline-block;

      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .6s;

      }

      &::before {
        top: -.8rem;
      }

      &::after {
        top: .8rem;
      }

    }

  }

}