.landing {
  font-size: 2rem;
  display: grid;
  grid-template-rows: 75rem repeat(5, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];



  & > * {
    margin-top: 10rem;
  }


  .left, .right {
    margin-top: 2rem;
  }

  .jumbotron {
    background-image: linear-gradient(174deg, transparent 0%, transparent 74%, rgba(255, 255, 255, 1) 74.3%), url(/images/landing.jpg);
    grid-column: full-start / full-end;

    background-size: 100%;
    padding: 5vh 15%;
    margin-top: 0;

    display: grid;
    grid-column-gap: 8rem;
    grid-template-columns: repeat(auto-fit, minmax(31.1rem, 1fr));
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
      background-size: cover;
    }
    

    .left {
      padding-top: 25%;
      text-align: center;

      @media only screen and (max-width: $bp-largest) {
        padding-top: 40%;    
      }

      @media only screen and (max-width: $bp-medium) {
        padding-top: 25%;    
      }

      .heading-2 {
        font-size: 7.5rem;
        line-height: 1;
        background-color: rgb(70, 113, 158);
        color: #ffffff00;
        text-shadow: 0px 1.8px 3.4px rgba(255, 255, 255, 1);
        -webkit-background-clip: text;
        letter-spacing: 2px;
      }

      p {
        font-weight: bold;
        font-family: $font-primary;
        font-size: 2.4rem;
        color: white;
      }
    }

    .right {
      padding-top: 20%;

      @media only screen and (max-width: $bp-largest) {
        padding-top: 35%;    
      }

      @media only screen and (max-width: $bp-large) {
        padding-top: 40%;    
      }

      img {
        width: 90%;
        margin: 0 auto;
        display: block;

        @media only screen and (max-width: $bp-medium) {
          display: none; 
        }
      }
    }
  }

  .welcomemsg {
    grid-column: center-start / center-end;
    padding: 3rem 0;

    h2 {
      // grid-column: 1 / 3;
      text-align: center;
      color: $orange;
    }


    @media only screen and (max-width: $bp-medium) {
      margin-top: 5rem;
    }

    .lft-rht-contain{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(41rem, 1fr));
      grid-column-gap: 6rem;

      .right {
        display: flex;
        align-items: center;
      }

      @media only screen and (max-width: $bp-medium) {

        grid-row-gap: 3rem;

        .left p {
          width: 85%;
          margin: 0 auto;
        }

        .right {
          order: -1;

          img {
            width: 60%;
            margin: 0 auto;
          }
        }


      }


    }

    

  }

  .ourcomp {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content 46rem;
    grid-column-gap: 8rem;
    grid-row-gap: 4rem;
    // align-items: center;

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: max-content 15rem;
      grid-column-gap: 6rem;
      grid-row-gap: 0rem;
    }


    h2 {
      text-align: center;
      grid-column: 1 / -1;
      color: $orange;
    }

    > p {
      align-self: center;

      @media only screen and (max-width: $bp-large) {
        grid-column: 1 / -1;
      }
    }

    .comp-card {
      background-image: linear-gradient(180deg, #ffffff 0%, rgba(252, 253, 253, 0.68) 20%, rgba(241, 247, 253, 0.36) 55%, rgba(241, 247, 253, 0.12) 100%);
      border-radius: 12px;
      box-shadow: 1px 1px 39px 8px rgba(196, 221, 255, 0.23);
      border: 4px solid rgba(233, 247, 253, 0.59);
      text-align: center;
      // padding: 5rem 0;

      display: grid;
      grid-template-rows: max-content min-content min-content;
      grid-template-columns: 1fr;
      align-content: center;
      padding: 0 3rem;

      @media only screen and (max-width: $bp-large) {
        padding: 7rem;
      }

      @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
      }

      @media only screen and (max-width: $bp-small) {
        grid-column: 1 / -1;
        margin: 3rem auto;
      }

      h3 {
        color: $orange;
        font-size: 2rem;
      }

      img {
        width: 30%;
        margin: 0 auto;
        display: block;
        padding: 2rem 0;

        @media only screen and (max-width: $bp-large) {
          width: 45%;
        }

        @media only screen and (max-width: $bp-small) {
          width: 30%;
        }
      }
    }

  }

  .ourteam {
    background-image: url(/images/landing-middle.jpg);
    background-size: 120%;
    background-position-y: 60%;
    transform: skewY(-5deg);
    color: #fff;
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: minmax(6rem, 1fr) minmax(25rem, 120rem) minmax(6rem, 1fr);
    // padding: 3rem 15%;

    // Jagged edges fix for chrome when transforming skew
    padding: 1px;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-background-clip:content-box;
    background-clip:content-box;

    @media only screen and (max-width: $bp-large) {
      background-image: url(/images/landing-middle-mobile.jpg);
      background-size: cover;
    }

    .lft-rht-contain{
      transform: skewY(5deg);
      margin: 6rem auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(41rem, 1fr));
      grid-column-gap: 2rem;
      padding: 2rem 0;

      grid-column: 2 / 3;


      .left {

        @media only screen and (max-width: $bp-medium) {
          margin-bottom: 5rem;
        }

        h2 {
          text-align: center;
          color: $orange;
        }
      }
  
      .right {
        margin-top: 2rem;
        display: grid;

        @media only screen and (max-width: 48em) {
          order: -1;
        }

        @media only screen and (max-width: 31em) {
          display: none;
        }

        img {
          width: 72%;
          margin: auto;

          @media only screen and (max-width: 48em) {
            width: 40%;
          }
        }
      }

    }


  }

  .customers {
    grid-column: center-start / center-end;
    

    h2{
      text-align: center;
      color: $orange;
      grid-column: 1 / -1;
      line-height: 1.2;

      @media only screen and (max-width: $bp-medium) {
        font-size: 3rem;
      }

      @media only screen and (max-width: 31em) {
        font-size: 2.5rem;
      }
    }

    .logos {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
      align-items: center;


      img {
        width: 40%;
        margin: 0 auto;
        display: block;

        @media only screen and (max-width: $bp-medium) {
          margin: 10px auto;
        }
      }
  
      .apple {
        width: 20%;
      }
    }


  }

  .footer {
    grid-column: full-start / full-end;
  }
}
