:root {
  --text-color: #{$dashboard-text}; // Default light theme color
  --headings-color: #{$midnightblue}; // Default light theme color
}

[data-theme="dark"] {
  --text-color: #{$dark-dashboard-text}; // Dark theme color
  --headings-color: #{$alternateblue};
}


.survey-creation {
  grid-column: col-start 1/col-end 8;

  @include respond(bp-large) {
    grid-column: col-start 1/col-end 16;
   }

   @include respond(bp-tiny) {
    padding: 3rem;
   }

 

  form {
    margin: 0 auto;
    max-width: 70rem;
    display: grid;

    .field-group {
      margin-bottom: 2rem;
    }

    .btn-open-list {
      justify-self: end;
    }

    .submitButtons {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-self: flex-end;
      margin-top: 6rem;
    }

  }

  .form-review {
    display: grid;
    width: 100%;

    .review-fields {
      border-radius: 1.3rem;
      margin-bottom: 5rem;

      .review-field {
        display: grid;
        grid-template-columns: 17ch auto;
        font-size: 2.1rem;
        color: var(--headings-color);

        .value {
          color: var(--text-color);
          font-family: $font-primary;
          font-size: 1.8rem;
          font-weight: normal;
          display: block;
          width: 60rem;
          word-wrap: break-word;
        }
      }
    }

    .submitButtons {
      justify-self: end;
      display: flex;
      gap: 2rem;
    }

  }


 
}