:root {
  --edit-text-color: #{$alternateblue}; // Default light theme color
}

[data-theme="dark"] {
  --edit-text-color: #{$white}; // Dark theme color
}


.email-list {
  grid-column: col-start 1/col-end 10;
  position: relative;

  @include respond(bp-large) {
   grid-column: col-start 1/col-end 16;
  }

  .section-heading{
   

    p {
      font-size: 1.8rem;
      font-weight: bold;
      text-align: center;
    }


  }


  .email-list__labels {
    display: flex;
    margin: 5rem auto;
    justify-content: space-between;
    list-style: none;
  }

  
  .email-list__emails{

    .email {
      display: flex;
      align-items: baseline;
      gap: 2rem;
      position: relative;
      @include createLetterAvatar(
        3.4rem, $white, linear-gradient(179deg, 
        lighten($alternateblue, 15%) 0%, $alternateblue 80%)
      );

      @include respond(bp-small) {
        flex-direction: column;
        align-items: center;
      }

      .heading-3 {
        transition: all 400ms ease;
        width: 40%;
        @include customBorderBtm(rgba(107, 131, 225, 0), 2px, 175%);

        @include respond(bp-medium) {
          font-size: 2.4rem;
          width: 60%;
        }

        // @include respond(bp-smallest) {
        //   font-size: 1.4rem;
        // }

        .editable-input {
          width: 100% !important;
          border: none;
          color: inherit !important;
          background: transparent;

          &:focus {
            outline: none;
          }
        }

          &::after {
            content: '';
            margin: 0;
        }
    
        &.edit-bg {
          transform: translateX(25%);
          color: var(--edit-text-color) !important;
          @include customBorderBtm(rgba(107, 131, 225, 0.142), 2px, 100%);

          @include respond(bp-medium) {
            transform: translateX(10%);
            @include customBorderBtm(rgba(107, 131, 225, 0.142), 2px, 115%);
          }

          &::after {
            content: '';
            margin: 0;
          }
        }
      }

      .checkmark-cancel {
        position: absolute;
        right: 28%;
        display: flex;
        width: auto;
        gap: 2rem;

        @include respond(bp-medium) {
         right: 15%;
        }

        .icon-checkmark,.icon-cancel {
          width: 2.4rem;
        }
      }

      .avatar {

        @include respond(bp-medium) {
          width: 5.4rem;
          height: 5.4rem;
        }
      }
    }

    // extra bit of padding for each email row
    td {
      padding: 2rem 0 !important;

      @include respond(bp-medium) {
        grid-template-columns: 1fr;
        row-gap: 1rem;
        padding: 0.8rem 0 !important;
      }
    }

    .icon {
      width: 3.4rem;
      height: 3.4rem;
    }

    .checkbox-wrapper {
      width: 100%;
      padding-left: 10%;

      @include respond(bp-medium) {
        position: absolute;
        left: 93%;
        padding: 0;
        width: auto;
      }
    }

    .icon-delete, .icon-edit {
     
      @include respond(bp-medium) {
        position: absolute;
        bottom: 3rem;
        width: 4.4rem;
        height: 4.4rem;
      }
    }

    .icon-edit {
      left: 70%;
    }

    .icon-delete {
      left: 90%;
    }
  
  }

  .icon-add {
    position: sticky;
    left: 100%;
    width: 8rem;
    bottom: 3rem;
    transform: translateX(100%);

    @include respond(bp-large) {
      transform: translateX(60%);    
    }
  }

  .total-emails, .checked-emails {
    margin: 2rem auto;
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    color: var(--edit-text-color);
  }

  .total-emails-number, .checked-emails-number {
    color: $alternateblue
  }
  

  .delete-all-button {
    background: linear-gradient(179deg, lighten($orange, 25%) 0%, $orange 80%);
    padding: 1rem 3.5rem;
    border-radius: 8px;
    margin-top: 2rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
  }
}