.btn {
  &,
  &:link, 
  &:visited{
  
    // text-transform: uppercase;
    text-decoration: none;
    // padding: 1.5rem 7.4rem;
    display: inline-block;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;

    // Change for the <button> element
    border: none;
    cursor: pointer;
  
  }

  &:active,
  &:focus{
    outline: none;
  }

  &--signup-header {
    border: 4px solid #b5d6f0;
    padding: 1.1rem 3.5rem;
    transition: all 500ms linear;
    border-radius: 100px;
    background: linear-gradient(180deg, #fefeff 0%, #c8dff7 50%, #96c3f1 100%);


    h5 {
      font-size: 2.2rem;
      font-family: "serenity", sans-serif;
      background-color: #07568f;
      color: rgba(110, 172, 235, 0.68);
      text-shadow: 0px 2px 4.4px rgb(255, 255, 255);
      background-clip: text;
      letter-spacing: 1px;
    }

    &:hover {
      box-shadow: 0px 0px 22px 9px rgba(255, 255, 255, 0.3);
    }
  }

  &--danger {
    border: 4px solid hsl(23deg 57.66% 89.82%) !important;
    padding: 0.8rem 2.4rem;
    transition: all 500ms linear;
    border-radius: 1rem;
    background: linear-gradient(180deg, #fe9b65 0%, #c2673f 100%);
    color: #fff;
    font-weight: bold;


    a {
      font-size: 2.2rem;
      font-family: "serenity", sans-serif;
      background-color: $white;
      color: rgba(255, 255, 255, 0.68);
      text-shadow: 0px 2px 4.4px rgb(56 104 160 / 65%);
      -webkit-background-clip: text;
      background-clip: text;
      letter-spacing: 1px;
    }

    &:hover {
      box-shadow: 0px 0px 22px 9px rgba(255, 255, 255, 0.3);
    }
  }

  &--primary {
    border: 3px solid #c3daec;
    padding: 0.8rem 2.4rem;
    transition: all 500ms linear;
    border-radius: 1rem;
    background: linear-gradient(180deg, #abcef4 0%, #7bb1ea 50%, #3a82cc 100%);
    color: #fff;
    font-weight: bold;


    a {
      font-size: 2.2rem;
      font-family: "serenity", sans-serif;
      background-color: $white;
      color: rgba(255, 255, 255, 0.68);
      text-shadow: 0px 2px 4.4px rgb(56 104 160 / 65%);
      -webkit-background-clip: text;
      background-clip: text;
      letter-spacing: 1px;
    }

    &:hover {
      box-shadow: 0px 0px 22px 9px rgba(255, 255, 255, 0.3);
    }
  }

  &--submit-contact {
    border: 5px solid #c3daec;
    padding: 1rem 2.7rem;
    transition: all 500ms linear;
    border-radius: 1.7rem;
    background: linear-gradient(180deg, #abcef4 0%, #7bb1ea 50%, #3a82cc 100%);


    h5 {
      font-size: 2.2rem;
      font-family: "serenity", sans-serif;
      background-color: #d0e7f8;
      color: rgb(255 255 255 / 68%);
      text-shadow: 0px 2px 4.4px #3868a0;
      -webkit-background-clip: text;
      background-clip: text;
      letter-spacing: 1px;
    }

    &:hover {
      box-shadow: 0px 0px 22px 9px rgba(255, 255, 255, 0.3);
    }
  }

  &--ghostWhite {
    border: 2px solid rgba(168, 209, 245, 0.42);
    padding: 0.7rem 3rem;
    background-color: white;
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.05);
    transition: all 300ms linear;

    &:hover {
      box-shadow: 3px 4px 2px 0px rgba(0, 0, 0, 0.07);
      border: 2px solid rgb(137, 194, 245);
    }

    a {
      color: $alternateblue;
      letter-spacing: 1px;
    }
  }

  &--return {
    background: linear-gradient(to bottom, rgba(81,188,255,1) 0%, rgba(15,119,255,1) 100%);
    padding: 0.7rem 3rem;
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.05);
    color: #fff;
  }


}