.linkNotify {
  position: relative;
}

.notification {
  color: white;
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: -2.4rem;
  right: -2rem;
  font-size: 1.9rem;
  border-radius: 50%;
  line-height: 28px;
  background-color: $orange;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    width: 3.5rem;
    height: 3.5rem;
    top: 0;
    right: -1rem;
  }
}